*{
    margin: 0;
    padding: 0;
}
header .logo{
    position: absolute;
    left: calc(50% - 40px);
    top: 16px;
}
.container{
    max-width: 1064px;
    margin: auto;
}
header .container{
    display: flex;
    justify-content: space-between;
}
header nav ul{
    padding: 15px 0;
}
header ul{
    list-style: none;
    display: flex;
    padding: 7px 0 0;
}
header nav ul li{
    margin-right: 28px;
}
header nav ul li a{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #1C1B1B;
}
header nav ul li:last-of-type{
    margin-right: 0;
}
header ul li a{
    text-decoration: none;
}
header .items li:first-of-type{
    position: relative;
    top: 10px;
    right: 15px;
}
header .items li:nth-child(2){
    position: relative;
    top: -1px;
}
header .items li:last-of-type {
    position: relative;
    top: -3px;
    right: -10px;
}
.main_banner{
    background-color: #F0EFEB;
    padding: 9px 0 24px;
}
.main_banner .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main_banner_image{
    position: relative;
    right: -120px;
    display: block;
    width: 100%;
}
.main_title{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 70px;
    color: #000000;
    margin-bottom: 42px;
}
.main_box{
    max-width: 481px;
}
.main_text{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 26px;
}
.main_link{
    background: #000000;
    border: 1px solid #000000;
    border-radius: 100px;
    padding: 7px 23px 9px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
}
.best_sellers{
    padding: 60px 0 248px;
}
.best_sellers_title{
    margin-bottom: 27px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
}
.best_sellers_text{
    margin-bottom: 47px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000000;
}
.best_sellers_text_tiny{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000000;
    margin-bottom: 88px;
}
.best_sellers_subtitle{
    margin-bottom: 52px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
}
.best_sellers .container:last-of-type{
    display: flex;
    justify-content: space-between;
}
.best_sellers_box{
    max-width: 309px;
    text-align: center;
}
.best_sellers_desc{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    margin-bottom: 17px;
}
.best_sellers_image{
    display: block;
    width: 100%;
    margin-bottom: 27px;
}
.best_sellers_price{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    margin-bottom: 10px;
}
.best_sellers_link{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    text-decoration-line: underline;
    color: #000000;
}
.people_society{
    padding: 76px 0 51px;
    background-color: rgba(204, 204, 204, 0.3);
}
.people_society .container {
    display: flex;
}
.people_society_image{
    display: block;
    max-width: 385px;
    width: 100%;
    margin-right: 50px;
}
.people_society_box{
    max-width: 498px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.people_society_title{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin-bottom: 31px;
}
.people_society_text{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin-bottom: 40px;
}
.people_society_link{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #000000;
}
.owl-item{
    display: flex;
    justify-content: center;
}
